* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {
    width: 100%;
    /* background-color: aquamarine; */
    height: 78px;
}

.navbar {
    padding-top: 32px;
    margin: 0 auto;
    height: 15px;
    width: 1144px;
    /* background: #ddd; */
    height: 100%;
    display: flex;
}

.menu {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.menu li {
    display: inline;
    list-style: none;
    margin-right: 72px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 38px 0 28px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #373737;
}

h4 {

    font-family: Montserrat, sans-serif;
    font-style: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;

}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #373737;
}
a {
    text-decoration: none;
    color: #FF0000;
}
p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
img {
    width: 100%;
}
main {
    width: 100%;
    padding: 0;
}

.container {
    width: 1144px;
    margin: 0 auto;

}

.clickbutton {
    display: block;
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: 18px 42px;
    background-color: #FF0000;
    color: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}
.footer {
    background-color: aquamarine;
    width: 100%;

}

.footer__container {
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    width: 1144px;
    height: 108px;
    margin: 0 auto;
}
.footer__container div {

    display: flex;
    flex-direction: row;

}

.footer__container div h6 {
    color: #a20000;
    font-family: 'Montserrat', sans-serif;
    margin-right: 48px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}